.board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.space {
  padding: 0.5em 1em;
  font-weight: bold;
  border: solid 1px #000000;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
}
